doctype html
html
  head
    title Newly Added Book
  body
    h1 Successfully Created!
    p You recently created a new book to the system.
    ul
      li Title: #{title}
      li Author: #{author}
      li Year Published: #{year}
